
<div class="main-list" id="main-list">
    <div class="list-subheader clearfix" style="margin-top: 0px">
        <div class="btn-group pull-right">
            <button class="btn" translate="IDM.TENANT-MGMT.CREATE-TENANT" ng-click="showCreateTenantPopup()">&nbsp;</button>
        </div>
    </div>
    <div class="list-wrapper" auto-height>

        <span loading="model.loading" ng-show="model.loading"></span>

        <div class="list-wrapper" ng-show="!model.loading">

        </div>
    </div>
</div>

<div class="main-content-wrapper">

    <div class="main-content">

        <div class="header">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="model.selectedTenantCount == 0">{{'IDM.TENANT-MGMT.ACTIONS' | translate}}</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="model.selectedTenantCount == 0">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="editTenantDetails()" ng-if="model.selectedTenantCount == 1"><a href="">{{'IDM.TENANT-MGMT.EDIT-TENANT' | translate}}</a></li>
                        <li ng-click="deleteTenants()"><a href="">{{'IDM.TENANT-MGMT.DELETE-TENANT' | translate}}</a></li>
                    </ul>
                </div>

            </div>
            <div>
                <h2>{{'IDM.TENANT-MGMT.TITLE' | translate}}</h2>
            </div>
        </div>

        <div class="content" auto-height offset="6">
            <div style="margin-top: 10px;">
            </div>
            <div class="message clearfix">
                <div>
                    <table width="100%" class="users">
                        <tr>
                            <th width="4%"></th>
                            <th width="50%">{{'IDM.TENANT-MGMT.NAME' | translate}}</th>
                            <th width="50%">{{'IDM.TENANT-MGMT.ID' | translate}}</th>
                        </tr>
                        <tr ng-repeat="tenant in model.tenants" ng-click="toggleTenantSelection(tenant)" ng-class="{'selected': model.selectedTenants[tenant.id]}">
                            <td class="control"><input type="checkbox" ng-checked="model.selectedTenants[tenant.id]"></td>
                            <td>{{tenant.name}}</td>
                            <td>{{tenant.id}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
